In [1]:
print("Hello World")

Hello World

In [2]:
if 5>2:
    print("Five is greater than two")

Five is greater than two

In [3]:
x=5

In [4]:
y=True

In [5]:
if y:
    print(x)

5

In [6]:
#This is a comment

In [7]:
x=str(3)
print(type(x))

<class 'str'>

In [8]:
x=3
print(type(x))

<class 'int'>

In [9]:
z=float(4)

In [10]:
print(z)

4.0

In [11]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [12]:
x = "John"
# is the same as
x = 'John'

In [13]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

Legal variable names:

In [14]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Illegal variable names:

2myvar = "John"

my-var = "John"

my var = "John"

In [15]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [16]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [17]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [18]:
x = "Python"
y = 2
z = "awesome"
print(x, y, z)

Python 2 awesome

In [19]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [20]:
x = 5
y = 10
print(x + y)

15

In [21]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [22]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [23]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [24]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [25]:
x = "Hello World"
print(type(x),x)

<class 'str'> Hello World

In [26]:
x = 20
print(type(x),x)

<class 'int'> 20

In [27]:
x = 20.5
print(type(x),x)

<class 'float'> 20.5

In [28]:
x = 1j
print(type(x),x)

<class 'complex'> 1j

In [29]:
x = ["apple", "banana", "cherry"]
print(type(x),x)

<class 'list'> ['apple', 'banana', 'cherry']

In [30]:
x = ("apple", "banana", "cherry")
print(type(x),x)

<class 'tuple'> ('apple', 'banana', 'cherry')

In [31]:
x = range(6)
print(type(x),x)

<class 'range'> range(0, 6)

In [32]:
x = {"name" : "John", "age" : 36}
print(type(x),x)

<class 'dict'> {'name': 'John', 'age': 36}

In [33]:
x = {"apple", "banana", "cherry"}
print(type(x),x)

<class 'set'> {'banana', 'cherry', 'apple'}

In [34]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x),x)

<class 'frozenset'> frozenset({'banana', 'cherry', 'apple'})

In [35]:
x = True
print(type(x),x)

<class 'bool'> True

In [36]:
x = b"Hello"
print(type(x),x)

<class 'bytes'> b'Hello'

In [37]:
x = bytearray(5)
print(type(x),x)

<class 'bytearray'> bytearray(b'\x00\x00\x00\x00\x00')

In [38]:
x = memoryview(bytes(5))
print(type(x),x)

<class 'memoryview'> <memory at 0x0000029AC6513580>

In [39]:
x = None
print(type(x),x)

<class 'NoneType'> None

Explicitly giving types

In [40]:
x = str("Hello World")
x = int(20)
x = float(20.5)
x = complex(1j)
x = list(("apple", "banana", "cherry"))
x = tuple(("apple", "banana", "cherry"))
x = range(6)
x = dict(name="John", age=36)
x = set(("apple", "banana", "cherry"))
x = frozenset(("apple", "banana", "cherry"))
x = bool(5)
x = bytes(5)
x = bytearray(5)
x = memoryview(bytes(5))

In [42]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [43]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [52]:
import random

print(random.randrange(1, 1000))

696

In [53]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [54]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [55]:
a = "Hello, World!"
print(a[1])

e

In [56]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [57]:
a = "Hello, World!"
print(len(a))

13

In [58]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [60]:
txt = "The best things in life are free!"
print("gurbaaz" in txt)

False

In [61]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [62]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [63]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [64]:
b = "Hello, World!"
print(b[2:5])

llo

In [65]:
c='0123456789'
print(c[3:7])

3456

In [66]:
b = "Hello, World!"
print(b[:5])

Hello

In [67]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [70]:
b = "Hello, World!"
print(b[-5:-2])

orl