In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 ={
    "name":['gurbaaz','timmy','gunnu','alex'],
    "marks":[92,34,24,17],
    "city":['chandigarh','patiala','ludhiana','NewYork']
}

In [3]:
df=pd.DataFrame(dict1)

In [4]:
df

      name  marks        city
0  gurbaaz     92  chandigarh
1    timmy     34     patiala
2    gunnu     24    ludhiana
3     alex     17     NewYork

In [5]:
df.city

0    chandigarh
1       patiala
2      ludhiana
3       NewYork
Name: city, dtype: object

In [6]:
df.to_csv('friends.csv')

In [7]:
df.to_excel('friends.xlsx')

In [8]:
df.to_csv('friends_indexNo.csv', index=False)

In [9]:
df.head(2)

      name  marks        city
0  gurbaaz     92  chandigarh
1    timmy     34     patiala

In [10]:
df.tail(2)

    name  marks      city
2  gunnu     24  ludhiana
3   alex     17   NewYork

In [11]:
df.describe()

          marks
count   4.00000
mean   41.75000
std    34.21866
min    17.00000
25%    22.25000
50%    29.00000
75%    48.50000
max    92.00000

In [12]:
timmy= pd.read_csv('timmy.csv')

In [13]:
timmy

,Unnamed: 0.8,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Tain No.,Speed,City
0,0,0,0,0,0,0,0,0,0,12322,50,chandigarh
1,1,1,1,1,1,1,1,1,1,12534,123,patiala
2,2,2,2,2,2,2,2,2,2,125654,67,ludhiana
3,3,3,3,3,3,3,3,3,3,564523,87,rajkot

In [14]:
timmy['Speed'][0]=50

C:\Users\gurba\AppData\Local\Temp\ipykernel_14592\3645333898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  timmy['Speed'][0]=50

In [15]:
timmy

,Unnamed: 0.8,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Tain No.,Speed,City
0,0,0,0,0,0,0,0,0,0,12322,50,chandigarh
1,1,1,1,1,1,1,1,1,1,12534,123,patiala
2,2,2,2,2,2,2,2,2,2,125654,67,ludhiana
3,3,3,3,3,3,3,3,3,3,564523,87,rajkot

In [16]:
timmy.to_csv('timmy.csv')

In [17]:
timmy.index=['first','second','third','fourth']

In [18]:
timmy

,Unnamed: 0.8,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Tain No.,Speed,City
first,0,0,0,0,0,0,0,0,0,12322,50,chandigarh
second,1,1,1,1,1,1,1,1,1,12534,123,patiala
third,2,2,2,2,2,2,2,2,2,125654,67,ludhiana
fourth,3,3,3,3,3,3,3,3,3,564523,87,rajkot

In [19]:
ser=pd.Series(np.random.rand(34))

In [20]:
ser

0     0.649187
1     0.111223
2     0.614733
3     0.715828
4     0.217442
5     0.167363
6     0.971884
7     0.895058
8     0.775345
9     0.831788
10    0.889186
11    0.724006
12    0.845097
13    0.598583
14    0.623401
15    0.201496
16    0.689798
17    0.767743
18    0.987272
19    0.087026
20    0.650054
21    0.845682
22    0.706537
23    0.116548
24    0.948979
25    0.045513
26    0.654909
27    0.505037
28    0.734368
29    0.007194
30    0.553135
31    0.623247
32    0.704154
33    0.542610
dtype: float64

In [21]:
type(ser)

pandas.core.series.Series

In [22]:
newdf=pd.DataFrame(np.random.rand(334,5), index=np.arange(334))

In [23]:
newdf.head()

          0         1         2         3         4
0  0.432357  0.041995  0.699357  0.462174  0.513841
1  0.262802  0.843322  0.392428  0.563360  0.999545
2  0.505932  0.735391  0.233032  0.036597  0.923612
3  0.460307  0.216057  0.214916  0.872143  0.131151
4  0.279013  0.412259  0.972149  0.575664  0.904100

In [24]:
type(newdf)

pandas.core.frame.DataFrame

In [25]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.498014    0.488668    0.483405    0.513521    0.509201
std      0.283967    0.281912    0.274327    0.295075    0.285607
min      0.001196    0.000213    0.003405    0.000062    0.001011
25%      0.251271    0.264880    0.272532    0.246918    0.268964
50%      0.506515    0.483119    0.463520    0.527254    0.525915
75%      0.718694    0.724160    0.705312    0.778695    0.765169
max      0.989644    0.999811    0.988883    0.997454    0.999545

In [26]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [27]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [28]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [29]:
newdf.to_numpy()

array([[0.43235669, 0.04199529, 0.69935663, 0.46217443, 0.51384132],
       [0.26280179, 0.84332156, 0.39242755, 0.5633597 , 0.99954476],
       [0.5059323 , 0.73539051, 0.23303236, 0.03659653, 0.9236122 ],
       ...,
       [0.58096919, 0.89299771, 0.56898889, 0.32701002, 0.7691631 ],
       [0.66545012, 0.2679374 , 0.82606109, 0.8089482 , 0.85171806],
       [0.9644446 , 0.17122408, 0.37525062, 0.16603423, 0.52575991]])

In [30]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [31]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.432357,0.262802,0.505932,0.460307,0.279013,0.107161,0.676925,0.200528,0.458591,0.245854,...,0.931455,0.598057,0.130788,0.418737,0.780333,0.814939,0.955822,0.580969,0.665450,0.964445
1,0.041995,0.843322,0.735391,0.216057,0.412259,0.999490,0.588592,0.658565,0.370050,0.834811,...,0.319964,0.979261,0.896710,0.685152,0.142779,0.307182,0.139222,0.892998,0.267937,0.171224
2,0.699357,0.392428,0.233032,0.214916,0.972149,0.743339,0.605150,0.467204,0.303564,0.493673,...,0.964551,0.571275,0.851015,0.448726,0.699810,0.171175,0.316163,0.568989,0.826061,0.375251
3,0.462174,0.563360,0.036597,0.872143,0.575664,0.340126,0.211070,0.737600,0.186827,0.485992,...,0.563364,0.255342,0.516450,0.797682,0.353259,0.239330,0.837440,0.327010,0.808948,0.166034
4,0.513841,0.999545,0.923612,0.131151,0.904100,0.331137,0.430475,0.736116,0.232222,0.267372,...,0.549424,0.814760,0.542951,0.341981,0.068184,0.358561,0.714484,0.769163,0.851718,0.525760

In [32]:
newdf

            0         1         2         3         4
0    0.432357  0.041995  0.699357  0.462174  0.513841
1    0.262802  0.843322  0.392428  0.563360  0.999545
2    0.505932  0.735391  0.233032  0.036597  0.923612
3    0.460307  0.216057  0.214916  0.872143  0.131151
4    0.279013  0.412259  0.972149  0.575664  0.904100
..        ...       ...       ...       ...       ...
329  0.814939  0.307182  0.171175  0.239330  0.358561
330  0.955822  0.139222  0.316163  0.837440  0.714484
331  0.580969  0.892998  0.568989  0.327010  0.769163
332  0.665450  0.267937  0.826061  0.808948  0.851718
333  0.964445  0.171224  0.375251  0.166034  0.525760

[334 rows x 5 columns]

In [33]:
newdf.sort_index(axis=0,ascending=False)

            0         1         2         3         4
333  0.964445  0.171224  0.375251  0.166034  0.525760
332  0.665450  0.267937  0.826061  0.808948  0.851718
331  0.580969  0.892998  0.568989  0.327010  0.769163
330  0.955822  0.139222  0.316163  0.837440  0.714484
329  0.814939  0.307182  0.171175  0.239330  0.358561
..        ...       ...       ...       ...       ...
4    0.279013  0.412259  0.972149  0.575664  0.904100
3    0.460307  0.216057  0.214916  0.872143  0.131151
2    0.505932  0.735391  0.233032  0.036597  0.923612
1    0.262802  0.843322  0.392428  0.563360  0.999545
0    0.432357  0.041995  0.699357  0.462174  0.513841

[334 rows x 5 columns]

In [34]:
newdf.sort_index(axis=1,ascending=False)

            4         3         2         1         0
0    0.513841  0.462174  0.699357  0.041995  0.432357
1    0.999545  0.563360  0.392428  0.843322  0.262802
2    0.923612  0.036597  0.233032  0.735391  0.505932
3    0.131151  0.872143  0.214916  0.216057  0.460307
4    0.904100  0.575664  0.972149  0.412259  0.279013
..        ...       ...       ...       ...       ...
329  0.358561  0.239330  0.171175  0.307182  0.814939
330  0.714484  0.837440  0.316163  0.139222  0.955822
331  0.769163  0.327010  0.568989  0.892998  0.580969
332  0.851718  0.808948  0.826061  0.267937  0.665450
333  0.525760  0.166034  0.375251  0.171224  0.964445

[334 rows x 5 columns]

In [35]:
newdf2=newdf

In [36]:
newdf2[0][0]=9756

In [37]:
newdf

               0         1         2         3         4
0    9756.000000  0.041995  0.699357  0.462174  0.513841
1       0.262802  0.843322  0.392428  0.563360  0.999545
2       0.505932  0.735391  0.233032  0.036597  0.923612
3       0.460307  0.216057  0.214916  0.872143  0.131151
4       0.279013  0.412259  0.972149  0.575664  0.904100
..           ...       ...       ...       ...       ...
329     0.814939  0.307182  0.171175  0.239330  0.358561
330     0.955822  0.139222  0.316163  0.837440  0.714484
331     0.580969  0.892998  0.568989  0.327010  0.769163
332     0.665450  0.267937  0.826061  0.808948  0.851718
333     0.964445  0.171224  0.375251  0.166034  0.525760

[334 rows x 5 columns]

In [38]:
newdf3=newdf.copy()

In [39]:
newdf3

               0         1         2         3         4
0    9756.000000  0.041995  0.699357  0.462174  0.513841
1       0.262802  0.843322  0.392428  0.563360  0.999545
2       0.505932  0.735391  0.233032  0.036597  0.923612
3       0.460307  0.216057  0.214916  0.872143  0.131151
4       0.279013  0.412259  0.972149  0.575664  0.904100
..           ...       ...       ...       ...       ...
329     0.814939  0.307182  0.171175  0.239330  0.358561
330     0.955822  0.139222  0.316163  0.837440  0.714484
331     0.580969  0.892998  0.568989  0.327010  0.769163
332     0.665450  0.267937  0.826061  0.808948  0.851718
333     0.964445  0.171224  0.375251  0.166034  0.525760

[334 rows x 5 columns]

In [40]:
newdf.loc[0,0]=654

In [41]:
newdf.head(2)

            0         1         2         3         4
0  654.000000  0.041995  0.699357  0.462174  0.513841
1    0.262802  0.843322  0.392428  0.563360  0.999545

In [42]:
newdf.columns=list("ABCDE")

In [43]:
newdf

              A         B         C         D         E
0    654.000000  0.041995  0.699357  0.462174  0.513841
1      0.262802  0.843322  0.392428  0.563360  0.999545
2      0.505932  0.735391  0.233032  0.036597  0.923612
3      0.460307  0.216057  0.214916  0.872143  0.131151
4      0.279013  0.412259  0.972149  0.575664  0.904100
..          ...       ...       ...       ...       ...
329    0.814939  0.307182  0.171175  0.239330  0.358561
330    0.955822  0.139222  0.316163  0.837440  0.714484
331    0.580969  0.892998  0.568989  0.327010  0.769163
332    0.665450  0.267937  0.826061  0.808948  0.851718
333    0.964445  0.171224  0.375251  0.166034  0.525760

[334 rows x 5 columns]

In [44]:
newdf.loc[0,'A']=119.2

In [45]:
newdf

              A         B         C         D         E
0    119.200000  0.041995  0.699357  0.462174  0.513841
1      0.262802  0.843322  0.392428  0.563360  0.999545
2      0.505932  0.735391  0.233032  0.036597  0.923612
3      0.460307  0.216057  0.214916  0.872143  0.131151
4      0.279013  0.412259  0.972149  0.575664  0.904100
..          ...       ...       ...       ...       ...
329    0.814939  0.307182  0.171175  0.239330  0.358561
330    0.955822  0.139222  0.316163  0.837440  0.714484
331    0.580969  0.892998  0.568989  0.327010  0.769163
332    0.665450  0.267937  0.826061  0.808948  0.851718
333    0.964445  0.171224  0.375251  0.166034  0.525760

[334 rows x 5 columns]

In [46]:
newdf.loc[0,0]=55.4

In [47]:
newdf

              A         B         C         D         E     0
0    119.200000  0.041995  0.699357  0.462174  0.513841  55.4
1      0.262802  0.843322  0.392428  0.563360  0.999545   NaN
2      0.505932  0.735391  0.233032  0.036597  0.923612   NaN
3      0.460307  0.216057  0.214916  0.872143  0.131151   NaN
4      0.279013  0.412259  0.972149  0.575664  0.904100   NaN
..          ...       ...       ...       ...       ...   ...
329    0.814939  0.307182  0.171175  0.239330  0.358561   NaN
330    0.955822  0.139222  0.316163  0.837440  0.714484   NaN
331    0.580969  0.892998  0.568989  0.327010  0.769163   NaN
332    0.665450  0.267937  0.826061  0.808948  0.851718   NaN
333    0.964445  0.171224  0.375251  0.166034  0.525760   NaN

[334 rows x 6 columns]

In [48]:
newdf=newdf.drop(0,axis=1)

In [49]:
newdf

              A         B         C         D         E
0    119.200000  0.041995  0.699357  0.462174  0.513841
1      0.262802  0.843322  0.392428  0.563360  0.999545
2      0.505932  0.735391  0.233032  0.036597  0.923612
3      0.460307  0.216057  0.214916  0.872143  0.131151
4      0.279013  0.412259  0.972149  0.575664  0.904100
..          ...       ...       ...       ...       ...
329    0.814939  0.307182  0.171175  0.239330  0.358561
330    0.955822  0.139222  0.316163  0.837440  0.714484
331    0.580969  0.892998  0.568989  0.327010  0.769163
332    0.665450  0.267937  0.826061  0.808948  0.851718
333    0.964445  0.171224  0.375251  0.166034  0.525760

[334 rows x 5 columns]

In [50]:
newdf.loc[[1,2],['C','D']]

          C         D
1  0.392428  0.563360
2  0.233032  0.036597

In [51]:
newdf.loc[(newdf['A']<0.3) &(newdf['C']>0.1)]

            A         B         C         D         E
1    0.262802  0.843322  0.392428  0.563360  0.999545
4    0.279013  0.412259  0.972149  0.575664  0.904100
5    0.107161  0.999490  0.743339  0.340126  0.331137
7    0.200528  0.658565  0.467204  0.737600  0.736116
9    0.245854  0.834811  0.493673  0.485992  0.267372
..        ...       ...       ...       ...       ...
294  0.001196  0.959106  0.508308  0.105432  0.556022
301  0.180843  0.567944  0.388139  0.638034  0.841719
305  0.055268  0.752779  0.730164  0.913680  0.537776
310  0.001310  0.764293  0.289266  0.972886  0.462276
326  0.130788  0.896710  0.851015  0.516450  0.542951

[87 rows x 5 columns]

In [52]:
newdf.iloc[0,3]

0.46217442634859707

In [53]:
newdf.iloc[[0,5],[1,2]]

          B         C
0  0.041995  0.699357
5  0.999490  0.743339

In [54]:
newdf.drop([0],inplace=True)

In [55]:
newdf

            A         B         C         D         E
1    0.262802  0.843322  0.392428  0.563360  0.999545
2    0.505932  0.735391  0.233032  0.036597  0.923612
3    0.460307  0.216057  0.214916  0.872143  0.131151
4    0.279013  0.412259  0.972149  0.575664  0.904100
5    0.107161  0.999490  0.743339  0.340126  0.331137
..        ...       ...       ...       ...       ...
329  0.814939  0.307182  0.171175  0.239330  0.358561
330  0.955822  0.139222  0.316163  0.837440  0.714484
331  0.580969  0.892998  0.568989  0.327010  0.769163
332  0.665450  0.267937  0.826061  0.808948  0.851718
333  0.964445  0.171224  0.375251  0.166034  0.525760

[333 rows x 5 columns]

In [56]:
newdf.reset_index(drop=True,inplace=True)

In [57]:
newdf

            A         B         C         D         E
0    0.262802  0.843322  0.392428  0.563360  0.999545
1    0.505932  0.735391  0.233032  0.036597  0.923612
2    0.460307  0.216057  0.214916  0.872143  0.131151
3    0.279013  0.412259  0.972149  0.575664  0.904100
4    0.107161  0.999490  0.743339  0.340126  0.331137
..        ...       ...       ...       ...       ...
328  0.814939  0.307182  0.171175  0.239330  0.358561
329  0.955822  0.139222  0.316163  0.837440  0.714484
330  0.580969  0.892998  0.568989  0.327010  0.769163
331  0.665450  0.267937  0.826061  0.808948  0.851718
332  0.964445  0.171224  0.375251  0.166034  0.525760

[333 rows x 5 columns]

In [58]:
newdf['B'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
328    False
329    False
330    False
331    False
332    False
Name: B, Length: 333, dtype: bool

In [59]:
newdf.loc[:,'B']=None

In [60]:
newdf

            A     B         C         D         E
0    0.262802  None  0.392428  0.563360  0.999545
1    0.505932  None  0.233032  0.036597  0.923612
2    0.460307  None  0.214916  0.872143  0.131151
3    0.279013  None  0.972149  0.575664  0.904100
4    0.107161  None  0.743339  0.340126  0.331137
..        ...   ...       ...       ...       ...
328  0.814939  None  0.171175  0.239330  0.358561
329  0.955822  None  0.316163  0.837440  0.714484
330  0.580969  None  0.568989  0.327010  0.769163
331  0.665450  None  0.826061  0.808948  0.851718
332  0.964445  None  0.375251  0.166034  0.525760

[333 rows x 5 columns]

In [61]:
newdf.loc[:,'B']=45

In [62]:
newdf

            A   B         C         D         E
0    0.262802  45  0.392428  0.563360  0.999545
1    0.505932  45  0.233032  0.036597  0.923612
2    0.460307  45  0.214916  0.872143  0.131151
3    0.279013  45  0.972149  0.575664  0.904100
4    0.107161  45  0.743339  0.340126  0.331137
..        ...  ..       ...       ...       ...
328  0.814939  45  0.171175  0.239330  0.358561
329  0.955822  45  0.316163  0.837440  0.714484
330  0.580969  45  0.568989  0.327010  0.769163
331  0.665450  45  0.826061  0.808948  0.851718
332  0.964445  45  0.375251  0.166034  0.525760

[333 rows x 5 columns]