In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 ={
    "name":['gurbaaz','timmy','gunnu','manav'],
    "marks":[92,34,24,17],
    "city":['chandigarh','patiala','ludhiana','rajkot']
}

In [3]:
df=pd.DataFrame(dict1)

In [4]:
df

      name  marks        city
0  gurbaaz     92  chandigarh
1    timmy     34     patiala
2    gunnu     24    ludhiana
3    manav     17      rajkot

In [5]:
df.city

0    chandigarh
1       patiala
2      ludhiana
3        rajkot
Name: city, dtype: object

In [6]:
df.to_csv('friends.csv')

In [7]:
df.to_excel('friends.xlsx')

In [8]:
df.to_csv('friends_indexNo.csv', index=False)

In [9]:
df.head(2)

      name  marks        city
0  gurbaaz     92  chandigarh
1    timmy     34     patiala

In [10]:
df.tail(2)

    name  marks      city
2  gunnu     24  ludhiana
3  manav     17    rajkot

In [11]:
df.describe()

          marks
count   4.00000
mean   41.75000
std    34.21866
min    17.00000
25%    22.25000
50%    29.00000
75%    48.50000
max    92.00000

In [12]:
timmy= pd.read_csv('timmy.csv')

In [13]:
timmy

,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Tain No.,Speed,City
0,0,0,0,0,0,0,0,0,12322,50,chandigarh
1,1,1,1,1,1,1,1,1,12534,123,patiala
2,2,2,2,2,2,2,2,2,125654,67,ludhiana
3,3,3,3,3,3,3,3,3,564523,87,rajkot

In [14]:
timmy['Speed'][0]=50

C:\Users\gurba\AppData\Local\Temp\ipykernel_16712\3645333898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  timmy['Speed'][0]=50

In [15]:
timmy

,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Tain No.,Speed,City
0,0,0,0,0,0,0,0,0,12322,50,chandigarh
1,1,1,1,1,1,1,1,1,12534,123,patiala
2,2,2,2,2,2,2,2,2,125654,67,ludhiana
3,3,3,3,3,3,3,3,3,564523,87,rajkot

In [16]:
timmy.to_csv('timmy.csv')

In [17]:
timmy.index=['first','second','third','fourth']

In [18]:
timmy

,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Tain No.,Speed,City
first,0,0,0,0,0,0,0,0,12322,50,chandigarh
second,1,1,1,1,1,1,1,1,12534,123,patiala
third,2,2,2,2,2,2,2,2,125654,67,ludhiana
fourth,3,3,3,3,3,3,3,3,564523,87,rajkot

In [19]:
ser=pd.Series(np.random.rand(34))

In [20]:
ser

0     0.134812
1     0.237043
2     0.757914
3     0.263322
4     0.477985
5     0.961617
6     0.138592
7     0.409637
8     0.050678
9     0.499631
10    0.787970
11    0.641656
12    0.071273
13    0.204554
14    0.759777
15    0.883385
16    0.527626
17    0.346459
18    0.342849
19    0.120151
20    0.321390
21    0.359591
22    0.946989
23    0.551817
24    0.951928
25    0.622468
26    0.054137
27    0.852005
28    0.815177
29    0.758805
30    0.607901
31    0.531631
32    0.428046
33    0.566956
dtype: float64

In [21]:
type(ser)

pandas.core.series.Series

In [22]:
newdf=pd.DataFrame(np.random.rand(334,5), index=np.arange(334))

In [23]:
newdf.head()

          0         1         2         3         4
0  0.512863  0.983487  0.266444  0.120459  0.001110
1  0.270932  0.153358  0.213429  0.148198  0.127868
2  0.665118  0.350857  0.583002  0.215119  0.710048
3  0.634087  0.727786  0.955138  0.343467  0.608244
4  0.600628  0.551305  0.293138  0.062102  0.319682

In [24]:
type(newdf)

pandas.core.frame.DataFrame

In [25]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.523669    0.512989    0.479512    0.489528    0.510716
std      0.278528    0.299421    0.295537    0.281923    0.281939
min      0.002778    0.001606    0.001849    0.000369    0.001110
25%      0.285321    0.238203    0.213970    0.242918    0.257184
50%      0.541858    0.532639    0.460152    0.471517    0.510697
75%      0.739469    0.780578    0.744093    0.723822    0.767868
max      0.997440    0.999431    0.996002    0.992664    0.994284

In [26]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [27]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [28]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [29]:
newdf.to_numpy()

array([[0.51286289, 0.98348685, 0.26644415, 0.12045856, 0.00110983],
       [0.27093153, 0.15335844, 0.21342919, 0.14819787, 0.127868  ],
       [0.6651175 , 0.35085652, 0.58300158, 0.21511882, 0.71004804],
       ...,
       [0.20637248, 0.75041335, 0.39412429, 0.13253609, 0.05258153],
       [0.55629683, 0.84171319, 0.96506228, 0.11238717, 0.21168824],
       [0.0179901 , 0.63208669, 0.74688456, 0.36905035, 0.35609337]])

In [30]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [31]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.512863,0.270932,0.665118,0.634087,0.600628,0.503733,0.989597,0.396502,0.552635,0.688458,...,0.446572,0.532362,0.581477,0.901692,0.145729,0.979328,0.378096,0.206372,0.556297,0.017990
1,0.983487,0.153358,0.350857,0.727786,0.551305,0.786994,0.991737,0.026921,0.417193,0.004616,...,0.985871,0.564625,0.627226,0.479918,0.392898,0.886560,0.756595,0.750413,0.841713,0.632087
2,0.266444,0.213429,0.583002,0.955138,0.293138,0.033880,0.620905,0.009306,0.250334,0.172349,...,0.792968,0.425390,0.531103,0.629889,0.316824,0.561728,0.108500,0.394124,0.965062,0.746885
3,0.120459,0.148198,0.215119,0.343467,0.062102,0.501781,0.226409,0.825982,0.136416,0.578722,...,0.914210,0.092411,0.461420,0.117117,0.312397,0.424675,0.377694,0.132536,0.112387,0.369050
4,0.001110,0.127868,0.710048,0.608244,0.319682,0.397876,0.380046,0.054796,0.782287,0.557685,...,0.281047,0.393498,0.714913,0.711489,0.953897,0.866605,0.727588,0.052582,0.211688,0.356093

In [32]:
newdf

            0         1         2         3         4
0    0.512863  0.983487  0.266444  0.120459  0.001110
1    0.270932  0.153358  0.213429  0.148198  0.127868
2    0.665118  0.350857  0.583002  0.215119  0.710048
3    0.634087  0.727786  0.955138  0.343467  0.608244
4    0.600628  0.551305  0.293138  0.062102  0.319682
..        ...       ...       ...       ...       ...
329  0.979328  0.886560  0.561728  0.424675  0.866605
330  0.378096  0.756595  0.108500  0.377694  0.727588
331  0.206372  0.750413  0.394124  0.132536  0.052582
332  0.556297  0.841713  0.965062  0.112387  0.211688
333  0.017990  0.632087  0.746885  0.369050  0.356093

[334 rows x 5 columns]

In [33]:
newdf.sort_index(axis=0,ascending=False)

            0         1         2         3         4
333  0.017990  0.632087  0.746885  0.369050  0.356093
332  0.556297  0.841713  0.965062  0.112387  0.211688
331  0.206372  0.750413  0.394124  0.132536  0.052582
330  0.378096  0.756595  0.108500  0.377694  0.727588
329  0.979328  0.886560  0.561728  0.424675  0.866605
..        ...       ...       ...       ...       ...
4    0.600628  0.551305  0.293138  0.062102  0.319682
3    0.634087  0.727786  0.955138  0.343467  0.608244
2    0.665118  0.350857  0.583002  0.215119  0.710048
1    0.270932  0.153358  0.213429  0.148198  0.127868
0    0.512863  0.983487  0.266444  0.120459  0.001110

[334 rows x 5 columns]

In [34]:
newdf.sort_index(axis=1,ascending=False)

            4         3         2         1         0
0    0.001110  0.120459  0.266444  0.983487  0.512863
1    0.127868  0.148198  0.213429  0.153358  0.270932
2    0.710048  0.215119  0.583002  0.350857  0.665118
3    0.608244  0.343467  0.955138  0.727786  0.634087
4    0.319682  0.062102  0.293138  0.551305  0.600628
..        ...       ...       ...       ...       ...
329  0.866605  0.424675  0.561728  0.886560  0.979328
330  0.727588  0.377694  0.108500  0.756595  0.378096
331  0.052582  0.132536  0.394124  0.750413  0.206372
332  0.211688  0.112387  0.965062  0.841713  0.556297
333  0.356093  0.369050  0.746885  0.632087  0.017990

[334 rows x 5 columns]

In [35]:
newdf2=newdf

In [36]:
newdf2[0][0]=9756

In [37]:
newdf

               0         1         2         3         4
0    9756.000000  0.983487  0.266444  0.120459  0.001110
1       0.270932  0.153358  0.213429  0.148198  0.127868
2       0.665118  0.350857  0.583002  0.215119  0.710048
3       0.634087  0.727786  0.955138  0.343467  0.608244
4       0.600628  0.551305  0.293138  0.062102  0.319682
..           ...       ...       ...       ...       ...
329     0.979328  0.886560  0.561728  0.424675  0.866605
330     0.378096  0.756595  0.108500  0.377694  0.727588
331     0.206372  0.750413  0.394124  0.132536  0.052582
332     0.556297  0.841713  0.965062  0.112387  0.211688
333     0.017990  0.632087  0.746885  0.369050  0.356093

[334 rows x 5 columns]

In [38]:
newdf3=newdf.copy()

In [39]:
newdf3

               0         1         2         3         4
0    9756.000000  0.983487  0.266444  0.120459  0.001110
1       0.270932  0.153358  0.213429  0.148198  0.127868
2       0.665118  0.350857  0.583002  0.215119  0.710048
3       0.634087  0.727786  0.955138  0.343467  0.608244
4       0.600628  0.551305  0.293138  0.062102  0.319682
..           ...       ...       ...       ...       ...
329     0.979328  0.886560  0.561728  0.424675  0.866605
330     0.378096  0.756595  0.108500  0.377694  0.727588
331     0.206372  0.750413  0.394124  0.132536  0.052582
332     0.556297  0.841713  0.965062  0.112387  0.211688
333     0.017990  0.632087  0.746885  0.369050  0.356093

[334 rows x 5 columns]

In [40]:
newdf.loc[0,0]=654

In [41]:
newdf.head(2)

            0         1         2         3         4
0  654.000000  0.983487  0.266444  0.120459  0.001110
1    0.270932  0.153358  0.213429  0.148198  0.127868

In [42]:
newdf.columns=list("ABCDE")

In [43]:
newdf

              A         B         C         D         E
0    654.000000  0.983487  0.266444  0.120459  0.001110
1      0.270932  0.153358  0.213429  0.148198  0.127868
2      0.665118  0.350857  0.583002  0.215119  0.710048
3      0.634087  0.727786  0.955138  0.343467  0.608244
4      0.600628  0.551305  0.293138  0.062102  0.319682
..          ...       ...       ...       ...       ...
329    0.979328  0.886560  0.561728  0.424675  0.866605
330    0.378096  0.756595  0.108500  0.377694  0.727588
331    0.206372  0.750413  0.394124  0.132536  0.052582
332    0.556297  0.841713  0.965062  0.112387  0.211688
333    0.017990  0.632087  0.746885  0.369050  0.356093

[334 rows x 5 columns]

In [44]:
newdf.loc[0,'A']=119.2

In [45]:
newdf

              A         B         C         D         E
0    119.200000  0.983487  0.266444  0.120459  0.001110
1      0.270932  0.153358  0.213429  0.148198  0.127868
2      0.665118  0.350857  0.583002  0.215119  0.710048
3      0.634087  0.727786  0.955138  0.343467  0.608244
4      0.600628  0.551305  0.293138  0.062102  0.319682
..          ...       ...       ...       ...       ...
329    0.979328  0.886560  0.561728  0.424675  0.866605
330    0.378096  0.756595  0.108500  0.377694  0.727588
331    0.206372  0.750413  0.394124  0.132536  0.052582
332    0.556297  0.841713  0.965062  0.112387  0.211688
333    0.017990  0.632087  0.746885  0.369050  0.356093

[334 rows x 5 columns]

In [46]:
newdf.loc[0,0]=55.4

In [47]:
newdf

              A         B         C         D         E     0
0    119.200000  0.983487  0.266444  0.120459  0.001110  55.4
1      0.270932  0.153358  0.213429  0.148198  0.127868   NaN
2      0.665118  0.350857  0.583002  0.215119  0.710048   NaN
3      0.634087  0.727786  0.955138  0.343467  0.608244   NaN
4      0.600628  0.551305  0.293138  0.062102  0.319682   NaN
..          ...       ...       ...       ...       ...   ...
329    0.979328  0.886560  0.561728  0.424675  0.866605   NaN
330    0.378096  0.756595  0.108500  0.377694  0.727588   NaN
331    0.206372  0.750413  0.394124  0.132536  0.052582   NaN
332    0.556297  0.841713  0.965062  0.112387  0.211688   NaN
333    0.017990  0.632087  0.746885  0.369050  0.356093   NaN

[334 rows x 6 columns]

In [48]:
newdf=newdf.drop(0,axis=1)

In [49]:
newdf

              A         B         C         D         E
0    119.200000  0.983487  0.266444  0.120459  0.001110
1      0.270932  0.153358  0.213429  0.148198  0.127868
2      0.665118  0.350857  0.583002  0.215119  0.710048
3      0.634087  0.727786  0.955138  0.343467  0.608244
4      0.600628  0.551305  0.293138  0.062102  0.319682
..          ...       ...       ...       ...       ...
329    0.979328  0.886560  0.561728  0.424675  0.866605
330    0.378096  0.756595  0.108500  0.377694  0.727588
331    0.206372  0.750413  0.394124  0.132536  0.052582
332    0.556297  0.841713  0.965062  0.112387  0.211688
333    0.017990  0.632087  0.746885  0.369050  0.356093

[334 rows x 5 columns]

In [50]:
newdf.loc[[1,2],['C','D']]

          C         D
1  0.213429  0.148198
2  0.583002  0.215119

In [51]:
newdf.loc[(newdf['A']<0.3) &(newdf['C']>0.1)]

            A         B         C         D         E
1    0.270932  0.153358  0.213429  0.148198  0.127868
14   0.243465  0.202596  0.947529  0.177667  0.201077
15   0.149425  0.821169  0.131851  0.514178  0.557742
17   0.242469  0.939771  0.126726  0.023745  0.820635
21   0.107065  0.737866  0.695021  0.813810  0.401547
..        ...       ...       ...       ...       ...
314  0.234575  0.733993  0.619217  0.181456  0.660861
317  0.118845  0.108298  0.401537  0.671507  0.436412
328  0.145729  0.392898  0.316824  0.312397  0.953897
331  0.206372  0.750413  0.394124  0.132536  0.052582
333  0.017990  0.632087  0.746885  0.369050  0.356093

[76 rows x 5 columns]

In [52]:
newdf.iloc[0,3]

0.12045856164330448

In [53]:
newdf.iloc[[0,5],[1,2]]

          B         C
0  0.983487  0.266444
5  0.786994  0.033880

In [54]:
newdf.drop([0],inplace=True)

In [55]:
newdf

            A         B         C         D         E
1    0.270932  0.153358  0.213429  0.148198  0.127868
2    0.665118  0.350857  0.583002  0.215119  0.710048
3    0.634087  0.727786  0.955138  0.343467  0.608244
4    0.600628  0.551305  0.293138  0.062102  0.319682
5    0.503733  0.786994  0.033880  0.501781  0.397876
..        ...       ...       ...       ...       ...
329  0.979328  0.886560  0.561728  0.424675  0.866605
330  0.378096  0.756595  0.108500  0.377694  0.727588
331  0.206372  0.750413  0.394124  0.132536  0.052582
332  0.556297  0.841713  0.965062  0.112387  0.211688
333  0.017990  0.632087  0.746885  0.369050  0.356093

[333 rows x 5 columns]

In [56]:
newdf.reset_index(drop=True,inplace=True)

In [57]:
newdf

            A         B         C         D         E
0    0.270932  0.153358  0.213429  0.148198  0.127868
1    0.665118  0.350857  0.583002  0.215119  0.710048
2    0.634087  0.727786  0.955138  0.343467  0.608244
3    0.600628  0.551305  0.293138  0.062102  0.319682
4    0.503733  0.786994  0.033880  0.501781  0.397876
..        ...       ...       ...       ...       ...
328  0.979328  0.886560  0.561728  0.424675  0.866605
329  0.378096  0.756595  0.108500  0.377694  0.727588
330  0.206372  0.750413  0.394124  0.132536  0.052582
331  0.556297  0.841713  0.965062  0.112387  0.211688
332  0.017990  0.632087  0.746885  0.369050  0.356093

[333 rows x 5 columns]

In [58]:
newdf['B'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
328    False
329    False
330    False
331    False
332    False
Name: B, Length: 333, dtype: bool

In [61]:
newdf.loc[:,'B']=None

In [62]:
newdf

            A     B         C         D         E
0    0.270932  None  0.213429  0.148198  0.127868
1    0.665118  None  0.583002  0.215119  0.710048
2    0.634087  None  0.955138  0.343467  0.608244
3    0.600628  None  0.293138  0.062102  0.319682
4    0.503733  None  0.033880  0.501781  0.397876
..        ...   ...       ...       ...       ...
328  0.979328  None  0.561728  0.424675  0.866605
329  0.378096  None  0.108500  0.377694  0.727588
330  0.206372  None  0.394124  0.132536  0.052582
331  0.556297  None  0.965062  0.112387  0.211688
332  0.017990  None  0.746885  0.369050  0.356093

[333 rows x 5 columns]

In [63]:
newdf.loc[:,'B']=45

In [64]:
newdf

            A   B         C         D         E
0    0.270932  45  0.213429  0.148198  0.127868
1    0.665118  45  0.583002  0.215119  0.710048
2    0.634087  45  0.955138  0.343467  0.608244
3    0.600628  45  0.293138  0.062102  0.319682
4    0.503733  45  0.033880  0.501781  0.397876
..        ...  ..       ...       ...       ...
328  0.979328  45  0.561728  0.424675  0.866605
329  0.378096  45  0.108500  0.377694  0.727588
330  0.206372  45  0.394124  0.132536  0.052582
331  0.556297  45  0.965062  0.112387  0.211688
332  0.017990  45  0.746885  0.369050  0.356093

[333 rows x 5 columns]