In [1]:
print("Hello World")

Hello World

In [2]:
if 5>2:
    print("Five is greater than two")

Five is greater than two

In [3]:
x=5

In [4]:
y=True

In [5]:
if y:
    print(x)

5

In [6]:
#This is a comment

In [7]:
x=str(3)
print(type(x))

<class 'str'>

In [8]:
x=3
print(type(x))

<class 'int'>

In [9]:
z=float(4)

In [10]:
print(z)

4.0

In [11]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [12]:
x = "John"
# is the same as
x = 'John'

In [13]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

Legal variable names:

In [14]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Illegal variable names:

2myvar = "John"

my-var = "John"

my var = "John"

In [15]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [16]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [17]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [18]:
x = "Python"
y = 2
z = "awesome"
print(x, y, z)

Python 2 awesome

In [19]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [20]:
x = 5
y = 10
print(x + y)

15

In [21]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [22]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [23]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [24]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [25]:
x = "Hello World"
print(type(x),x)

<class 'str'> Hello World

In [26]:
x = 20
print(type(x),x)

<class 'int'> 20

In [27]:
x = 20.5
print(type(x),x)

<class 'float'> 20.5

In [28]:
x = 1j
print(type(x),x)

<class 'complex'> 1j

In [29]:
x = ["apple", "banana", "cherry"]
print(type(x),x)

<class 'list'> ['apple', 'banana', 'cherry']

In [30]:
x = ("apple", "banana", "cherry")
print(type(x),x)

<class 'tuple'> ('apple', 'banana', 'cherry')

In [31]:
x = range(6)
print(type(x),x)

<class 'range'> range(0, 6)

In [32]:
x = {"name" : "John", "age" : 36}
print(type(x),x)

<class 'dict'> {'name': 'John', 'age': 36}

In [33]:
x = {"apple", "banana", "cherry"}
print(type(x),x)

<class 'set'> {'banana', 'cherry', 'apple'}

In [34]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x),x)

<class 'frozenset'> frozenset({'banana', 'cherry', 'apple'})

In [35]:
x = True
print(type(x),x)

<class 'bool'> True

In [36]:
x = b"Hello"
print(type(x),x)

<class 'bytes'> b'Hello'

In [37]:
x = bytearray(5)
print(type(x),x)

<class 'bytearray'> bytearray(b'\x00\x00\x00\x00\x00')

In [38]:
x = memoryview(bytes(5))
print(type(x),x)

<class 'memoryview'> <memory at 0x0000029AC6513580>

In [39]:
x = None
print(type(x),x)

<class 'NoneType'> None

Explicitly giving types

In [40]:
x = str("Hello World")
x = int(20)
x = float(20.5)
x = complex(1j)
x = list(("apple", "banana", "cherry"))
x = tuple(("apple", "banana", "cherry"))
x = range(6)
x = dict(name="John", age=36)
x = set(("apple", "banana", "cherry"))
x = frozenset(("apple", "banana", "cherry"))
x = bool(5)
x = bytes(5)
x = bytearray(5)
x = memoryview(bytes(5))

In [42]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [43]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [52]:
import random

print(random.randrange(1, 1000))

696

In [53]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [54]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [55]:
a = "Hello, World!"
print(a[1])

e

In [56]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [57]:
a = "Hello, World!"
print(len(a))

13

In [58]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [60]:
txt = "The best things in life are free!"
print("gurbaaz" in txt)

False

In [61]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [62]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [63]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [64]:
b = "Hello, World!"
print(b[2:5])

llo

In [65]:
c='0123456789'
print(c[3:7])

3456

In [66]:
b = "Hello, World!"
print(b[:5])

Hello

In [67]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [70]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [71]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [73]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [74]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [76]:
a = "Hello, Horld!"
print(a.replace("H", "J"))

Jello, Jorld!

In [77]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [78]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [80]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

Example
age = 36
txt = "My name is John, I am " + age
print(txt)
->Gives error

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [81]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [82]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [83]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [84]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Code	Result

 \'	Single Quote

 \\	Backslash	

 \n	New Line	

 \r	Carriage Return	

 \t	Tab	

 \b	Backspace	

 \f	Form Feed	

 \ooo	Octal value	

 \xhh	Hex value

Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [2]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [3]:
print(bool("Hello"))
print(bool(15))

True
True

In [4]:
print(bool(0))

False

In [5]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [7]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [8]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [9]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [10]:
class myclass():
  def __len__(self):
    return False

myobj = myclass()
print(bool(myobj))

False

In [11]:
class myclass():
  def __len__(self):
    return 2

myobj = myclass()
print(bool(myobj))

True

In [12]:
class myclass():
  def __len__(self):
    return True

myobj = myclass()
print(bool(myobj))

True

In [13]:
def myFunction() :
  return True

print(myFunction())

True

In [14]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [15]:
x = 200
print(isinstance(x, int))

True

In [16]:
x = 200
print(isinstance(x, complex))

False

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

Operator	Name	Example	
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

Operator	Example	Same As
=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3

Operator	Name	Example	
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

Operator	Description	Example
and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

Operator	Description	Example
is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object	x is not y

Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

Operator	Description	Example	
in 	Returns True if a sequence with the specified value is present in the object	x in y	
not in	Returns True if a sequence with the specified value is not present in the object	x not in y

Operator	Name	Description
& 	AND	Sets each bit to 1 if both bits are 1
|	OR	Sets each bit to 1 if one of two bits is 1
 ^	XOR	Sets each bit to 1 if only one of two bits is 1
~ 	NOT	Inverts all the bits
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [17]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [18]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [19]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [20]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [21]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [22]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [23]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [24]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [25]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [26]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [27]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [28]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [29]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [31]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [32]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [33]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [34]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [35]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [36]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [37]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [38]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [41]:
type(thislist)

list